<div class="footer">
            <div class="pull-right">
                для <strong>omoloko</strong>
            </div>
            <div>
                <strong>Copyright</strong> Nik Komarov &copy
            </div>
        </div>