<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - inspinia_playground</title>


    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="css/plugins/dataTables/datatables.min.css">
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/style.css" />

</head>
<body>
    <div id="wrapper">
        <partial name="_NavbarPartial" />
        <div id="page-wrapper" class="gray-bg">
            @RenderBody()

            <partial name="_FooterPartial" />
        </div>
    </div>



        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/inspinia.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
